/vendor/
/node_modules/
/temp/
/novcs/
/build/
/web.root/application/assets/js/libraries/
/images/
/maildrop/
web.root/application/config/mailgun.ini
/html/prototype/
/config/
*.js
!/web.root/nutshell/pnut/core/peanut-core.min.js
!/web.root/nutshell/pnut/core/peanut-loader.min.js
*.js.map