/vendor/
node_modules/
/temp/
/novcs/
/build/
/web.root/application/assets/js/libraries/
/images/
/maildrop/
/html/prototype/
/config/
web.root/tq-peanut/application/config/mailgun.ini
web.root/tq-peanut/application/assets/js/libraries
web.root/tq-peanut/pnut/packages/qnut-calendar/lib
*.js
!/web.root/nutshell/pnut/core/peanut-core.min.js
!/web.root/nutshell/pnut/core/peanut-loader.min.js
*.js.map
/web.root/tq-peanut/application/docs/
/doc/private/
