<style>
    td { vertical-align: top}
</style>
<p>An email list request was recieved</p>
<table>
    <tbody>
    <tr><td><strong>Name</strong></td>           <td>[[fullname]]</td></tr>
    <tr><td><strong>Email</strong></td>              <td>[[email]]</td></tr>
    <tr><td><strong>Lists</strong></td>              <td>[[lists]]</td></tr>
    </tbody>
</table>
<p>
    <strong>Comments</strong>:<br>
    <pre>[[comments]]</pre>
</p>
<p>
    [[dir-listing]]
</p>
<p>
    <a href="[[directory-url]]">Go to directory</a>
</p>
