<style>
    td { vertical-align: top}
</style>
<p>A site account request was recieved</p>
<table>
    <tbody>
    <tr><td><strong>Name</strong></td>           <td>[[fullname]]</td></tr>
    <tr><td><strong>username</strong></td>         	<td>[[username]]</td></tr>
    <tr><td><strong>email</strong></td>              <td>[[email]]</td></tr>
    <tr><td><strong>Directory Preference</strong></td><td>[[directoryPreference]]</td></tr>
    <tr><td><strong>StreetAddress</strong></td>      <td><pre>[[streetAddress]]</pre></td></tr>
    <tr><td><strong>Residents</strong></td>          <td>[[residents]]</td></tr>
    <tr><td><strong>Comments</strong></td>           <td><pre>[[comments]]</pre></td></tr>
    </tbody>
</table>
<p>
    <a href="[[directory-url]]">Go to directory</a>
</p>
